@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.navMenu{
    font-family: 'Montserrat', sans-serif; 
    box-sizing: border-box;
    margin: 0;
   font-weight: 500;
   font-size: 16px;
   text-align:center;
   transition: all 0.3s ease 0s;
   background-color: #24252a;
   display:flex;
   justify-content:space-between;
    align-items: center;
    padding: 30px 10%;
    

}

.navMenu:hover{
 cursor:pointer;
 text-decoration:none;
}


.App {
    font-family:'Montserrat', sans-serif;  
}




